openapi: 3.0.2
info:
  description: |
    Welcome to the API reference overview for the <a href="https://docs.hiro.so/get-started/stacks-blockchain-api">Stacks Blockchain API</a>.

    <a href="https://hirosystems.github.io/stacks-blockchain-api/collection.json" download="stacks-api-collection.json">Download Postman collection</a>
  title: Stacks Blockchain API
  version: STACKS_API_VERSION
servers:
- description: Mainnet
  url: https://stacks-node-api.mainnet.stacks.co/
- description: Testnet
  url: https://stacks-node-api.testnet.stacks.co/
- description: Local
  url: http://localhost:3999/
tags:
- description: Read-only endpoints to obtain Stacks account details
  externalDocs:
    description: Stacks Documentation - Accounts
    url: https://docs.stacks.co/understand-stacks/accounts
  name: Accounts
- description: Read-only endpoints to obtain Stacks block details
  name: Blocks
- description: Endpoints to request STX or BTC tokens (not possible on Mainnet)
  name: Faucets
- description: Read-only endpoints to obtain fee details
  name: Fees
- description: Read-only endpoints to obtain fungible token details
  externalDocs:
    description: Stacks Documentation - Tokens
    url: https://docs.stacks.co/write-smart-contracts/tokens
  name: Fungible Tokens
- description: "Read-only endpoints to obtain network, Proof-of-Transfer, Stacking,\
    \ STX token, and node information"
  name: Info
- description: Read-only endpoints to obtain microblocks details
  externalDocs:
    description: Stacks Documentation - Microblocks
    url: https://docs.stacks.co/understand-stacks/microblocks
  name: Microblocks
- description: Read-only endpoints realted to the Blockchain Naming System on Stacks
  externalDocs:
    description: Stacks Documentation - Blockchain Naming System
    url: https://docs.stacks.co/build-apps/references/bns
  name: Names
- description: Read-only endpoints to obtain non-fungible token details
  externalDocs:
    description: Stacks Documentation - Tokens
    url: https://docs.stacks.co/write-smart-contracts/tokens
  name: Non-Fungible Tokens
- description: Endpoints to support the Rosetta API open blockchain standard
  externalDocs:
    description: Hiro Documentation - Rosetta Support
    url: https://docs.hiro.so/get-started/stacks-blockchain-api#rosetta-support
  name: Rosetta
- description: "Read-only endpoints to search for accounts, blocks, smart contracts,\
    \ and transactions"
  name: Search
- description: Read-only endpoints to obtain Clarity smart contract details
  externalDocs:
    description: Stacks Documentation - Clarity Smart Contracts
    url: https://docs.stacks.co/write-smart-contracts/overview
  name: Smart Contracts
- description: Read-only endpoints to obtain Stacking reward details
  externalDocs:
    description: Stacks Documentation - Stacking
    url: https://docs.stacks.co/understand-stacks/stacking
  name: Stacking Rewards
- description: Endpoints to obtain transaction details and to broadcast transactions
    to the network
  externalDocs:
    description: Hiro Documentation - Transactions
    url: https://docs.hiro.so/get-started/transactions
  name: Transactions
paths:
  /extended/v1/faucets/stx:
    post:
      description: "Add 500 STX tokens to the specified testnet address. Testnet STX\
        \ addresses begin with `ST`. If the `stacking`\nparameter is set to `true`,\
        \ the faucet will add the required number of tokens for individual stacking\
        \ to the\nspecified testnet address.\n\nThe endpoint returns the transaction\
        \ ID, which you can use to view the transaction in the\n[Stacks Explorer](https://explorer.stacks.co/?chain=testnet).\
        \ The tokens are delivered once the transaction has\nbeen included in an anchor\
        \ block.\n\nA common reason for failed faucet transactions is that the faucet\
        \ has run out of tokens. If you are experiencing\nfailed faucet transactions\
        \ to a testnet address, you can get help in [Discord](https://stacks.chat).\n\
        \n**Note:** This is a testnet only endpoint. This endpoint will not work on\
        \ the mainnet.\n"
      operationId: run_faucet_stx
      parameters:
      - description: A valid testnet STX address
        explode: true
        in: query
        name: address
        required: true
        schema:
          example: ST3M7N9Q9HDRM7RVP1Q26P0EE69358PZZAZD7KMXQ
          type: string
        style: form
      - description: Request the amount of STX tokens needed for individual address
          stacking
        explode: true
        in: query
        name: stacking
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/run_faucet_stx_request'
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                txId: 0xf2f0402f9f4c4d43b382690c4f7b97e24d5ff5dd5c619e3615daa64dca7ef4bc
                txRaw: 80800000000400164247d6f2b425ac5771423ae6c80c754f7172b0000000000000003200000000000000b400008537046ff1008368baaa3ff2235122c556b89dad4f9df0639b924cf32a44b866497e49846b24191e711b21faaae96ca0542e4a140168484740b94211cececb3303020000000000051ab52c45b1a7977204f17ac0b6f48306aea2dbb8e9000000000007a12046617563657400000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/RunFaucetResponse'
          description: Success
        "500":
          description: Faucet call failed
      summary: Get STX testnet tokens
      tags:
      - Faucets
  /extended/v1/faucets/btc:
    post:
      description: "Add 1 BTC token to the specified testnet BTC address.\n\nThe endpoint\
        \ returns the transaction ID, which you can use to view the transaction in\
        \ a testnet Bitcoin block\nexplorer. The tokens are delivered once the transaction\
        \ has been included in a block.\n\n**Note:** This is a testnet only endpoint.\
        \ This endpoint will not work on the mainnet.\n"
      operationId: run_faucet_btc
      parameters:
      - description: A valid testnet BTC address
        explode: true
        in: query
        name: address
        required: true
        schema:
          example: 2N4M94S1ZPt8HfxydXzL2P7qyzgVq7MHWts
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/run_faucet_btc_request'
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1faucets~1stx/post/responses/200/content/application~1json/example'
              schema:
                $ref: '#/paths/~1extended~1v1~1faucets~1stx/post/responses/200/content/application~1json/schema'
          description: Success
        "500":
          description: Faucet call failed
      summary: Add testnet BTC tokens to address
      tags:
      - Faucets
  /extended/v1/tx:
    get:
      description: "Retrieves all recently mined transactions\n\nIf using TypeScript,\
        \ import typings for this response from our types package:\n\n`import type\
        \ { TransactionResults } from '@stacks/stacks-blockchain-api-types';`\n"
      operationId: get_transaction_list
      parameters:
      - description: max number of transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 200
          type: integer
        style: form
      - description: index of first transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by transaction type
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            enum:
            - coinbase
            - token_transfer
            - smart_contract
            - contract_call
            - poison_microblock
            type: string
          type: array
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                total: 101922
                results:
                - tx_id: 0x20dedbef812e44d712569224411b27324b68ab4667321a4badd5e81ba76bf0eb
                  nonce: 269
                  fee_rate: "0"
                  sender_address: SPQXK10DBF5ECAM30XVE3EJA8DNZF3VE0BK4MKV
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: on_chain_only
                  is_unanchored: false
                  block_hash: 0x28a9e2749b82bdc058776781a5abd5c9a6efed38f05545a8a51152655b8e1f4b
                  parent_block_hash: 0x3789b75ccfe7f2acf85c3f069fd5b8f95f73aba5332fa618243957d1c017a2a3
                  block_height: 21709
                  burn_block_time: 1626286436
                  burn_block_time_iso: 2021-07-14T18:13:56.000Z
                  canonical: true
                  tx_index: 0
                  tx_status: success
                  tx_result:
                    hex: 0x0703
                    repr: (ok true)
                  microblock_hash: ""
                  microblock_sequence: 2147483647
                  microblock_canonical: true
                  event_count: 0
                  events: []
                  tx_type: coinbase
                  coinbase_payload:
                    data: 0x0000000000000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/TransactionResults'
          description: List of transactions
      summary: Get recent transactions
      tags:
      - Transactions
  /extended/v1/tx/mempool:
    get:
      description: "Retrieves all transactions that have been recently broadcast to\
        \ the mempool. These are pending transactions awaiting confirmation.\n\nIf\
        \ you need to monitor new transactions, we highly recommend subscribing to\
        \ [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client)\
        \ for real-time updates.\n"
      operationId: get_mempool_transaction_list
      parameters:
      - description: Filter to only return transactions with this sender address.
        explode: true
        in: query
        name: sender_address
        required: false
        schema:
          type: string
        style: form
      - description: Filter to only return transactions with this recipient address
          (only applicable for STX transfer tx types).
        explode: true
        in: query
        name: recipient_address
        required: false
        schema:
          type: string
        style: form
      - description: Filter to only return transactions with this address as the sender
          or recipient (recipient only applicable for STX transfer tx types).
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: max number of mempool transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 200
          type: integer
        style: form
      - description: index of first mempool transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 96
                offset: 0
                total: 5
                results:
                - tx_id: 0xb31df5a363dad31723324cb5e0eefa04d491519fd30827a521cbc830114aa50c
                  tx_status: pending
                  tx_type: token_transfer
                  receipt_time: 1598288370
                  receipt_time_iso: 2020-08-24T16:59:30.000Z
                  fee_rate: "180"
                  sender_address: STB44HYPYAT2BB2QE513NSP81HTMYWBJP02HPGK6
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  token_transfer:
                    recipient_address: ST1GY25DM8RZV4X15X07THRZ2C5NMWPGQWKFGV87F
                    amount: "500000"
                    memo: 0x46617563657400000000000000000000000000000000000000000000000000000000
                - tx_id: 0x5bed8e3f801cb4e2c74d2815a092f7c1c6a35f2fce4a80c80ca70848d34cb395
                  tx_status: pending
                  tx_type: token_transfer
                  receipt_time: 1598282326
                  receipt_time_iso: 2020-08-24T15:18:46.000Z
                  fee_rate: "180"
                  sender_address: ST1PS1KF93VBY5A1JV7TM66KN046KP3E3761DBSAG
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  token_transfer:
                    recipient_address: ST2H33S8SEY27QKEKQKR6S5PECYPKY45CQYGGQR8X
                    amount: "1000"
                    memo: 0x00000000000000000000000000000000000000000000000000000000000000000000
                - tx_id: 0x9916036fde08a207e581cdcabc18ff55469861cb81194ab0e3e7c9a02cd5a17c
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598258958
                  receipt_time_iso: 2020-08-24T08:49:18.000Z
                  fee_rate: "2000"
                  sender_address: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8.test-loans-1
                    source_code: |-
                      (define-data-var stx-loaned int 0)
                      (define-data-var lockup-period int 0)
                      (define-data-var stx-return int 0)
                      (define-public (get-stx-return (stx uint) (months uint))
                          (ok
                              (begin
                                  (var-set stx-loaned (to-int(stx))
                                  (var-set lockup-period (to-int(months))
                                  (calculate-stx-return)
                                  (print (var-get stx-return))
                                  (transfer-to-server)
                              )
                          )
                      )
                      (define-private (calculate-stx-return)
                          (ok
                              (begin
                                  (var-set stx-return (- (+ (* (/ (* (var-get stx-loaned) 5) 100) (var-get lockup-period)) (var-get stx-loaned)) 5))
                              )
                          )
                      )
                      (define-private (transfer-to-server)
                        (begin
                          (unwrap-panic (stx-transfer? (to-uint (var-get stx-loaned)) tx-sender 'ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8))
                          (ok (to-uint (var-get stx-loaned)))
                        )
                      )
                - tx_id: 0x871fb186c8d6ac6ede2822c71074d9884b593c0d7f2d0d6e8516e615484d7501
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598230365
                  receipt_time_iso: 2020-08-24T00:52:45.000Z
                  fee_rate: "2000"
                  sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230358601
                    source_code: ";; ## CUSTOM FUNCTION TO EXTRACT A SUBSTRING\n\n\
                      (define-read-only (subs (source (buff 10)) \n              \
                      \          (start int) \n                        (end int))\n\
                      \ (begin\n  (unwrap-panic (if (and (<= 0 start) (<= start 10))\
                      \ (ok 1) (err \"Out of bounds: start\")))\n  (unwrap-panic (if\
                      \ (and (<= 0 end) (<= end 10)) (ok 1) (err \"Out of bounds:\
                      \ end\")))\n  (let ((temp1 (fold subs1 source \n           \
                      \       {start: start, end: end, cursor: 1, data: \"\"})))\n\
                      \   (let ((data (get data temp1))) \n       data))))\n    \n\
                      ;; Call the function to extract the substring between the bounds:\n\
                      \n;; (subs \"123456789\" 2 5)\n\n(define-read-only (subs1 \n\
                      \                    (ch (buff 1))\n                    (acc\
                      \ {data: (buff 10), \n                          start: int,\n\
                      \                          end: int,\n                     \
                      \     cursor: int})) \n  (let ((data (get data acc))\n     \
                      \   (start (get start acc))\n        (cursor (get cursor acc))\n\
                      \        (end (get end acc)))                              \
                      \       \n    (let ((temp2 \n           {cursor: (+ 1 cursor),\n\
                      \            data: (default-to \"\"\n                     (as-max-len?\n\
                      \                       (concat data \n                    \
                      \     (if (let ((temp3 start)\n                            \
                      \       (temp4 cursor)\n                                   (temp5\
                      \ end))\n                              (and (<= temp3 temp4)\n\
                      \                               (<= temp4 temp5)))\n       \
                      \                    ch \n                           \"\"))\n\
                      \                       u10))}))\n     {start: (get start acc),\n\
                      \      end: (get end acc),\n      cursor: (get cursor temp2),\n\
                      \      data: (get data temp2)})))\n"
                - tx_id: 0x66df10d99d3a26018f521d60e9f744b083386c73e47ad39c394d570abee55f1f
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598230066
                  receipt_time_iso: 2020-08-24T00:47:46.000Z
                  fee_rate: "2000"
                  sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230054238
                    source_code: "(define-read-only (subs1 \n                    (ch\
                      \ (buff 1))\n                    (acc {data: (buff 10), \n \
                      \                         start: int,\n                    \
                      \      end: int,\n                          cursor: int}))\n\
                      \ (begin\n  (unwrap-panic (if (and (<= 1 (get start acc)) (<=\
                      \ (get start acc) 10)) (ok 1) (err \"Out of bounds: start\"\
                      )))\n  (unwrap-panic (if (and (<= 1 (get end acc)) (<= (get\
                      \ end acc) 10)) (ok 1) (err \"Out of bounds: end\")))\n  (unwrap-panic\
                      \ (if (and (<= 1 (get cursor acc)) (<= (get cursor acc) 10))\
                      \ (ok 1) (err \"Out of bounds: cursor\")))\n  (let ((data (get\
                      \ data acc))\n        (start (get start acc))\n        (cursor\
                      \ (get cursor acc))\n        (end (get end acc)))          \
                      \                           \n    (let ((temp1 \n          \
                      \ {cursor: (+ 1 cursor),\n            data: (default-to \"\"\
                      \n                     (as-max-len?\n                      \
                      \ (concat data \n                         (if (let ((temp2 start)\n\
                      \                                   (temp3 cursor)\n       \
                      \                            (temp4 end))\n                \
                      \              (and (<= temp2 temp3)\n                     \
                      \          (<= temp3 temp4)))\n                           ch\
                      \ \n                           \"\"))\n                    \
                      \   u10))}))\n     {start: (get start acc),\n      end: (get\
                      \ end acc),\n      cursor: (get cursor temp1),\n      data:\
                      \ (get data temp1)}))))\n"
                - tx_id: 0x7402d8e52204d6c8cba7465e159e79750338c3ee31d4fe6ddef1d4d226304b65
                  nonce: 1
                  fee_rate: "227"
                  sender_address: SP1HJDP35SSMYP98CG8SHMYHMZDK0A495ZCH6ARYS
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions:
                  - type: stx
                    condition_code: sent_equal_to
                    amount: "88884500"
                    principal:
                      type_id: principal_standard
                      address: SP2J6HSSDYSTM71S0K0KK4YWRKX59JN1AD52M4B59
                  anchor_mode: any
                  tx_status: pending
                  receipt_time: 1626286631
                  receipt_time_iso: 2021-07-14T18:17:11.000Z
                  tx_type: contract_call
                  contract_call:
                    contract_id: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.send-many-memo
                    function_name: send-many
                    function_signature: (define-public (send-many (recipients (list
                      200 (tuple (memo (buff 34)) (to principal) (ustx uint))))))
                    function_args:
                    - hex: 0x0b000000010c00000003046d656d6f020000000e357a62597346716a52336d736b7102746f0516b734e97043840503dc1091661c105d32b7c5c75d047573747801000000000000000000000000054c4514
                      repr: (list (tuple (memo 0x357a62597346716a52336d736b71) (to
                        SP2VK9TBG8E20A0YW228PC70GBMSBFHE7BNVMKB57) (ustx u88884500)))
                      name: recipients
                      type: (list 200 (tuple (memo (buff 34)) (to principal) (ustx
                        uint)))
              schema:
                $ref: '#/components/schemas/MempoolTransactionListResponse'
          description: List of mempool transactions
      summary: Get mempool transactions
      tags:
      - Transactions
  /extended/v1/tx/mempool/dropped:
    get:
      description: "Retrieves all recently-broadcast transactions that have been dropped\
        \ from the mempool.\n\nTransactions are dropped from the mempool if:\n * they\
        \ were stale and awaiting garbage collection or,\n * were expensive,  or\n\
        \ * were replaced with a new fee\n"
      operationId: get_dropped_mempool_transaction_list
      parameters:
      - description: max number of mempool transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 200
          type: integer
        style: form
      - description: index of first mempool transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/application~1json/example'
              schema:
                $ref: '#/paths/~1extended~1v1~1tx~1mempool/get/responses/200/content/application~1json/schema'
          description: List of dropped mempool transactions
      summary: Get dropped mempool transactions
      tags:
      - Transactions
  /extended/v1/tx/multiple:
    get:
      description: "Retrieves a list of transactions for a given list of transaction\
        \ IDs\n\nIf using TypeScript, import typings for this response from our types\
        \ package:\n\n`import type { Transaction } from '@stacks/stacks-blockchain-api-types';`\n"
      operationId: get_tx_list_details
      parameters:
      - description: Array of transaction ids
        explode: true
        in: query
        name: tx_id
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The number of events to skip
        explode: true
        in: query
        name: event_offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of events to return
        explode: true
        in: query
        name: event_limit
        required: false
        schema:
          default: 96
          type: integer
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                "0x8911000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: 0x8911000000000000000000000000000000000000000000000000000000000000
                    nonce: 0
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: true
                    sponsor_address: sponsor-addr
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    is_unanchored: false
                    block_hash: 0x0123
                    parent_block_hash: 0x5678
                    block_height: 0
                    burn_block_time: 39486
                    burn_block_time_iso: 1970-01-01T10:58:06.000Z
                    parent_burn_block_time: 1626122935
                    parent_burn_block_time_iso: 2021-07-12T20:48:55.000Z
                    canonical: true
                    tx_index: 4
                    tx_status: success
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    event_count: 0
                    events: []
                    execution_cost_read_count: 0
                    execution_cost_read_length: 0
                    execution_cost_runtime: 0
                    execution_cost_write_count: 0
                    execution_cost_write_length: 0
                    tx_type: coinbase
                "0x8915000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: 0x8915000000000000000000000000000000000000000000000000000000000000
                    nonce: 1000
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: true
                    sponsor_address: sponsor-addr
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    is_unanchored: false
                    block_hash: 0x0123
                    parent_block_hash: 0x5678
                    block_height: 0
                    burn_block_time: 39486
                    burn_block_time_iso: 1970-01-01T10:58:06.000Z
                    parent_burn_block_time: 1626122935
                    parent_burn_block_time_iso: 2021-07-12T20:48:55.000Z
                    canonical: true
                    tx_index: 4
                    tx_status: success
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    event_count: 0
                    events: []
                    execution_cost_read_count: 0
                    execution_cost_read_length: 0
                    execution_cost_runtime: 0
                    execution_cost_write_count: 0
                    execution_cost_write_length: 0
                    tx_type: coinbase
                "0x8912000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: 0x8912000000000000000000000000000000000000000000000000000000000000
                    nonce: 0
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: false
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    tx_status: pending
                    receipt_time: 1594307695
                    receipt_time_iso: 2020-07-09T15:14:55.000Z
                    tx_type: coinbase
                "0x8914000000000000000000000000000000000000000000000000000000000000":
                  found: false
                  result:
                    tx_id: 0x8914000000000000000000000000000000000000000000000000000000000000
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/TransactionList'
                title: TransactionList
                type: object
          description: Returns list of transactions with their details for corresponding
            requested tx_ids.
        "404":
          description: Could not find any transaction by ID
      summary: Get list of details for transactions
      tags:
      - Transactions
  /extended/v1/tx/{tx_id}:
    get:
      description: "Retrieves transaction details for a given transaction ID\n\n`import\
        \ type { Transaction } from '@stacks/stacks-blockchain-api-types';`\n"
      operationId: get_transaction_by_id
      parameters:
      - description: Hash of transaction
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of events to skip
        explode: true
        in: query
        name: event_offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of events to return
        explode: true
        in: query
        name: event_limit
        required: false
        schema:
          default: 96
          type: integer
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                tx_id: 0x5e9f3933e358df6a73fec0d47ce3e1062c20812c129f5294e6f37a8d27c051d9
                tx_status: success
                tx_type: coinbase
                fee_rate: "0"
                sender_address: ST3WCQ6S0DFT7YHF53M8JPKGDS1N1GSSR91677XF1
                sponsored: false
                post_condition_mode: deny
                is_unanchored: false
                microblock_hash: ""
                microblock_sequence: 2147483647
                microblock_canonical: true
                block_hash: 0x58412b50266debd0c35b1a20348ad9c0f17e5525fb155a97033256c83c9e2491
                block_height: 3231
                burn_block_time: 1594230455
                canonical: true
                tx_index: 0
                tx_result:
                  hex: 0x03
                  repr: "true"
                coinbase_payload:
                  data: 0x0000000000000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Transaction
        "404":
          description: Cannot find transaction for given ID
      summary: Get transaction
      tags:
      - Transactions
  /extended/v1/tx/{tx_id}/raw:
    get:
      description: |
        Retrieves a hex encoded serialized transaction for a given ID
      operationId: get_raw_transaction_by_id
      parameters:
      - description: Hash of transaction
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                raw_tx: 0x1234
              schema:
                $ref: '#/components/schemas/GetRawTransactionResult'
          description: Hex encoded serialized transaction
        "404":
          description: Cannot find transaction for given ID
      summary: Get Raw Transaction
      tags:
      - Transactions
  /v2/transactions:
    post:
      description: "Broadcasts raw transactions on the network. You can use the [@stacks/transactions](https://github.com/blockstack/stacks.js)\
        \ project to generate a raw transaction payload."
      operationId: post_core_node_transactions
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: '"e161978626f216b2141b156ade10501207ae535fa365a13ef5d7a7c9310a09f2"'
                type: string
          description: Transaction id of successful post of a raw tx to the node's
            mempool
        "400":
          content:
            application/json:
              example:
                error: transaction rejected
                reason: BadNonce
                reason_data:
                  actual: 4
                  expected: 0
                  is_origin: true
                  principal: ST2ZRX0K27GW0SP3GJCEMHD95TQGJMKB7G9Y0X1MH
                txid: caf6fd60ae05b0c2d19ef14ab6a7670b1095d117fa7c80224c74e76214d0a791
              schema:
                $ref: '#/components/schemas/PostCoreNodeTransactionsError'
          description: Rejections result in a 400 error
      summary: Broadcast raw transaction
      tags:
      - Transactions
  /extended/v1/microblock:
    get:
      description: "Retrieves a list of microblocks.\n\nIf you need to actively monitor\
        \ new microblocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client)\
        \ for real-time updates.\n"
      operationId: get_microblock_list
      parameters:
      - description: Max number of microblocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 200
          type: integer
        style: form
      - description: Index of the first microblock to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroblockListResponse'
          description: List of microblocks
      summary: Get recent microblocks
      tags:
      - Microblocks
  /extended/v1/microblock/{hash}:
    get:
      description: Retrieves a specific microblock by `hash`
      operationId: get_microblock_by_hash
      parameters:
      - description: Hash of the microblock
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microblock'
          description: Microblock
        "404":
          content:
            application/json:
              example:
                error: cannot find microblock by hash 0xabc123
          description: Cannot find microblock with given hash
      summary: Get microblock
      tags:
      - Microblocks
  /extended/v1/microblock/unanchored/txs:
    get:
      description: Retrieves transactions that have been streamed in microblocks but
        not yet accepted or rejected in an anchor block
      operationId: get_unanchored_txs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnanchoredTransactionListResponse'
          description: Transactions
      summary: Get the list of current transactions that belong to unanchored microblocks
      tags:
      - Microblocks
  /extended/v1/block:
    get:
      description: "Retrieves a list of recently mined blocks\n\nIf you need to actively\
        \ monitor new blocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client)\
        \ for real-time updates.\n"
      operationId: get_block_list
      parameters:
      - description: max number of blocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 200
          type: integer
        style: form
      - description: index of first block to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 1
                offset: 0
                total: 21707
                results:
                - canonical: true
                  height: 21698
                  hash: 0x9be3e38eab9c7d094fd51792383c66706838d6392e95bc05cc730b8f7520e352
                  parent_block_hash: 0x76ee36d1d6c88e56b5c0e80f0d7bc7d3492141faf1b900efb19fcd00457d4654
                  burn_block_time: 1626281749
                  burn_block_time_iso: 2021-07-14T16:55:49.000Z
                  burn_block_hash: 0x0000000000000000000ea16f8e906e85ee1cb4dff1e5424e93843b3cec8b0bcb
                  burn_block_height: 691014
                  miner_txid: 0x118f7122a69441d13e6a3dfd4c3b0f9950be25195bb8126aae7fadea1aa9185d
                  parent_microblock_hash: 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                  parent_microblock_sequence: 3
                  txs:
                  - 0x76f58b2eaff65a07a5971b241c4e71fee92ee0f9396809f911f90839f9004cac
                  - 0x32972d9052b068f218f6e13451f7aff937099b74bbf95fac7d9402295b1b3941
                  - 0x8cd30724c02a9cc1d8879a34dc136ebfdb2008420badcfb5947b92f85ebce79b
                  - 0xf5c1577f42d3753a508101e045dd2dc60491eb0aa552e0ecd0ad37cc697143f4
                  - 0x35e4c20e2838f999e0cf0b40c5fabce154c2df1912a1074150d26784c53f7a20
                  - 0x501eb42b82e5b7a7350b47fa143cd4e90bb46d43e4a7d22830b2bf2aa70b7922
                  microblocks_accepted:
                  - 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                  - 0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464ebd1cfc2228c
                  - 0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d8163ab602fb935e
                  - 0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d8759ca8875f5
                  microblocks_streamed:
                  - 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                  - 0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464ebd1cfc2228c
                  - 0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d8163ab602fb935e
                  - 0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d8759ca8875f5
              schema:
                $ref: '#/components/schemas/BlockListResponse'
          description: List of blocks
      summary: Get recent blocks
      tags:
      - Blocks
  /extended/v1/block/{hash}:
    get:
      description: Retrieves block details of a specific block for a given chain height
      operationId: get_block_by_hash
      parameters:
      - description: Hash of the block
        explode: false
        in: path
        name: hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                canonical: true
                height: 3275
                hash: 0xe77ba8cf6bb7c0e4f64adc83356289ed467d31a22354907b4bb814590058430f
                parent_block_hash: 0x75ab21ef25cbff2caa14c27d830ed7886a4d1522e1b6f9e5dc3b59ccf73ed49f
                burn_block_time: 1594233639
                burn_block_time_iso: 2020-08-27T16:41:26.000Z
                burn_block_hash: 0xb154c008df2101023a6d0d54986b3964cee58119eed14f5bed98e15678e18fe2
                burn_block_height: 654439
                miner_txid: 0xd7d56070277ccd87b42acf0c91f915dd181f9db4cf878a4e95518bc397c240cc
                parent_microblock_hash: 0x590a1bb1d7bcbeafce0a9fc8f8a69e369486192d14687fe95fbe4dc1c71d49df
                parent_microblock_sequence: 2
                txs:
                - 0x4262db117659d1ca9406970c8f44ffd3d8f11f8e18c591d2e3960f4070107754
                - 0x383632cd3b5464dffb684082750fcfaddd1f52625bbb9f884ed8f45d2b1f0547
                - 0xc99fe597e44b8bd15a50eec660c6e679a7144a5a8553d214b9d5f1406d278c22
                microblocks_accepted:
                - 0xce0b1a4099d3fc7d5885cc7a3baa952b6d999f9709d0683b98b843597208231c
                - 0x4c0529b6448a5885991c5021bd869cc97f1692c128a98b382729dc962203c326
                - 0x64968846291dfea1015228a9d4bbd60aac81378cd6774b810b08e59e6b0e7494
                microblocks_streamed:
                - 0xb5650ef855f7d90fc146942e85cf9fac3a8c47ec408aca02f3cf9ed7c82f6cc6
                - 0xeeb9aa5741d84aa0bc5de4f2fbdeae57ae29694479475d45a67ae7bd7e2c98f3
                - 0x4f4c368d5f06fdf6065c5bafd9cb37391fddc9c279cfc57be35e4bf8ee932cbd
                - 0xde2fc8d99872c827f144c752c002d29f9315dfc09472a09572ac7447ae623dea
                execution_cost_read_count: 2477
                execution_cost_read_length: 1659409
                execution_cost_runtime: 2520952000
                execution_cost_write_count: 608
                execution_cost_write_length: 80170
              schema:
                $ref: '#/components/schemas/Block'
          description: Block
        "404":
          content:
            application/json:
              example:
                error: cannot find block by hash 0xabc123
          description: Cannot find block with given ID
      summary: Get block by hash
      tags:
      - Blocks
  /extended/v1/block/by_height/{height}:
    get:
      description: Retrieves block details of a specific block at a given block height
      operationId: get_block_by_height
      parameters:
      - description: Height of the block
        explode: false
        in: path
        name: height
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/application~1json/example'
              schema:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/application~1json/schema'
          description: Block
        "404":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/404/content/application~1json/example'
          description: Cannot find block with given height
      summary: Get block by height
      tags:
      - Blocks
  /extended/v1/block/by_burn_block_hash/{burn_block_hash}:
    get:
      description: Retrieves block details of a specific block for a given burnchain
        block hash
      operationId: get_block_by_burn_block_hash
      parameters:
      - description: Hash of the burnchain block
        explode: false
        in: path
        name: burn_block_hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/application~1json/example'
              schema:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/application~1json/schema'
          description: Block
        "404":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/404/content/application~1json/example'
          description: Cannot find block with given height
      summary: Get block by burnchain block hash
      tags:
      - Blocks
  /extended/v1/block/by_burn_block_height/{burn_block_height}:
    get:
      description: Retrieves block details of a specific block for a given burn chain
        height
      operationId: get_block_by_burn_block_height
      parameters:
      - description: Height of the burn chain block
        explode: false
        in: path
        name: burn_block_height
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/application~1json/example'
              schema:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/200/content/application~1json/schema'
          description: Block
        "404":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1block~1%7Bhash%7D/get/responses/404/content/application~1json/example'
          description: Cannot find block with given height
      summary: Get block by burnchain height
      tags:
      - Blocks
  /extended/v1/burnchain/reward_slot_holders:
    get:
      description: Retrieves a list of the Bitcoin addresses that would validly receive
        Proof-of-Transfer commitments.
      operationId: get_burnchain_reward_slot_holders
      parameters:
      - description: max number of items to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 250
          type: integer
        style: form
      - description: index of the first items to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                total: 2
                results:
                - canonical: true
                  burn_block_hash: 0x4eaabcd105865e471f697eff5dd5bd85d47ecb5a26a3379d74fae0ae87c40904
                  burn_block_height: 331
                  address: 1C56LYirKa3PFXFsvhSESgDy2acEHVAEt6
                  slot_index: 0
                - canonical: true
                  burn_block_hash: 0x4eaabcd105865e471f697eff5dd5bd85d47ecb5a26a3379d74fae0ae87c40904
                  burn_block_height: 331
                  address: 1M3bvWB9CRh5BTumeVxtHDEV6W4S2R9AZw
                  slot_index: 0
              schema:
                $ref: '#/components/schemas/BurnchainRewardSlotHolderListResponse'
          description: List of burnchain reward recipients and amounts
      summary: Get recent reward slot holders
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/reward_slot_holders/{address}:
    get:
      description: Retrieves a list of the Bitcoin addresses that would validly receive
        Proof-of-Transfer commitments for a given reward slot holder recipient address.
      operationId: get_burnchain_reward_slot_holders_by_address
      parameters:
      - description: "Reward slot holder recipient address. Should either be in the\
          \ native burnchain's format (e.g. B58 for Bitcoin), or if a STX principal\
          \ address is provided it will be encoded as into the equivalent burnchain\
          \ format"
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - description: max number of items to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: index of the first items to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1burnchain~1reward_slot_holders/get/responses/200/content/application~1json/example'
              schema:
                $ref: '#/paths/~1extended~1v1~1burnchain~1reward_slot_holders/get/responses/200/content/application~1json/schema'
          description: List of burnchain reward recipients and amounts
      summary: Get recent reward slot holder entries for the given address
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/rewards:
    get:
      description: Retrieves a list of recent burnchain (e.g. Bitcoin) reward recipients
        with the associated amounts and block info
      operationId: get_burnchain_reward_list
      parameters:
      - description: max number of rewards to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 250
          type: integer
        style: form
      - description: index of first rewards to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                results:
                - canonical: true
                  burn_block_hash: 0x4eaabcd105865e471f697eff5dd5bd85d47ecb5a26a3379d74fae0ae87c40904
                  burn_block_height: 331
                  burn_amount: "12000"
                  reward_recipient: 1C56LYirKa3PFXFsvhSESgDy2acEHVAEt6
                  reward_amount: "5000"
                  reward_index: 0
                - canonical: true
                  burn_block_hash: 0x4eaabcd105865e471f697eff5dd5bd85d47ecb5a26a3379d74fae0ae87c40904
                  burn_block_height: 336
                  burn_amount: "14000"
                  reward_recipient: 1M3bvWB9CRh5BTumeVxtHDEV6W4S2R9AZw
                  reward_amount: "2000"
                  reward_index: 0
              schema:
                $ref: '#/components/schemas/BurnchainRewardListResponse'
          description: List of burnchain reward recipients and amounts
      summary: Get recent burnchain reward recipients
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/rewards/{address}:
    get:
      description: Retrieves a list of recent burnchain (e.g. Bitcoin) rewards for
        the given recipient with the associated amounts and block info
      operationId: get_burnchain_reward_list_by_address
      parameters:
      - description: "Reward recipient address. Should either be in the native burnchain's\
          \ format (e.g. B58 for Bitcoin), or if a STX principal address is provided\
          \ it will be encoded as into the equivalent burnchain format"
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - description: max number of rewards to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: index of first rewards to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: '#/paths/~1extended~1v1~1burnchain~1rewards/get/responses/200/content/application~1json/example'
              schema:
                $ref: '#/paths/~1extended~1v1~1burnchain~1rewards/get/responses/200/content/application~1json/schema'
          description: List of burnchain reward recipients and amounts
      summary: Get recent burnchain reward for the given recipient
      tags:
      - Stacking Rewards
  /extended/v1/burnchain/rewards/{address}/total:
    get:
      description: Retrieves the total burnchain (e.g. Bitcoin) rewards for a given
        recipient `address`
      operationId: get_burnchain_rewards_total_by_address
      parameters:
      - description: "Reward recipient address. Should either be in the native burnchain's\
          \ format (e.g. B58 for Bitcoin), or if a STX principal address is provided\
          \ it will be encoded as into the equivalent burnchain format"
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                reward_recipient: 1C56LYirKa3PFXFsvhSESgDy2acEHVAEt6
                reward_amount: "18000"
              schema:
                $ref: '#/components/schemas/BurnchainRewardsTotal'
          description: List of burnchain reward recipients and amounts
      summary: Get total burnchain rewards for the given recipient
      tags:
      - Stacking Rewards
  /extended/v1/contract/{contract_id}:
    get:
      description: Retrieves details of a contract with a given `contract_id`
      operationId: get_contract_by_id
      parameters:
      - description: Contract identifier formatted as `<contract_address>.<contract_name>`
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                tx_id: 0x8122b7ae041120ddc9e2f8108e165912e40ad146399d42d6e6cbca7fd2c8ac28
                tx_status: success
                tx_type: smart_contract
                fee_rate: "3000"
                sender_address: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1
                sponsored: false
                post_condition_mode: allow
                is_unanchored: false
                microblock_hash: ""
                microblock_sequence: 2147483647
                microblock_canonical: true
                block_hash: 0x105685d3d4f251d73b75865b192cefb111dd49f67b8970a95094dc7ecf826caa
                block_height: 3196
                burn_block_time: 1594228322
                canonical: true
                tx_index: 1
                post_conditions: []
                smart_contract:
                  contract_id: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1.hello_world
                  source_code: |-
                    (define-constant sender 'SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR)
                    (define-constant recipient 'SM2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQVX8X0G)

                    (define-fungible-token novel-token-19)
                    (begin (ft-mint? novel-token-19 u12 sender))
                    (begin (ft-transfer? novel-token-19 u2 sender recipient))

                    (define-non-fungible-token hello-nft uint)
                    (begin (nft-mint? hello-nft u1 sender))
                    (begin (nft-mint? hello-nft u2 sender))
                    (begin (nft-transfer? hello-nft u1 sender recipient))

                    (define-public (test-emit-event)
                        (begin
                            (print "Event! Hello world")
                            (ok u1)))
                    (begin (test-emit-event))

                    (define-public (test-event-types)
                        (begin
                            (unwrap-panic (ft-mint? novel-token-19 u3 recipient))
                            (unwrap-panic (nft-mint? hello-nft u2 recipient))
                            (unwrap-panic (stx-transfer? u60 tx-sender 'SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR))
                            (unwrap-panic (stx-burn? u20 tx-sender))
                            (ok u1)))

                    (define-map store ((key (buff 32))) ((value (buff 32))))
                    (define-public (get-value (key (buff 32)))
                        (begin
                            (match (map-get? store ((key key)))
                                entry (ok (get value entry))
                                (err 0))))
                    (define-public (set-value (key (buff 32)) (value (buff 32)))
                        (begin
                            (map-set store ((key key)) ((value value)))
                            (ok u1)))
                events:
                - event_index: 0
                  event_type: fungible_token_asset
                  asset:
                    asset_event_type: mint
                    asset_id: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1.hello_world::novel-token-19
                    sender: ""
                    recipient: SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR
                    amount: "12"
                - event_index: 1
                  event_type: non_fungible_token_asset
                  asset:
                    asset_event_type: mint
                    asset_id: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1.hello_world::hello-nft
                    sender: ""
                    recipient: SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR
                    value:
                      hex: 0x0100000000000000000000000000000001
                      repr: "1"
                - event_index: 2
                  event_type: non_fungible_token_asset
                  asset:
                    asset_event_type: mint
                    asset_id: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1.hello_world::hello-nft
                    sender: ""
                    recipient: SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR
                    value:
                      hex: 0x0100000000000000000000000000000002
                      repr: "2"
                - event_index: 3
                  event_type: smart_contract_log
                  contract_log:
                    contract_id: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1.hello_world
                    topic: print
                    value:
                      hex: 0x02000000124576656e74212048656c6c6f20776f726c64
                      repr: '"Event! Hello world"'
                - event_index: 4
                  event_type: fungible_token_asset
                  asset:
                    asset_event_type: transfer
                    asset_id: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1.hello_world::novel-token-19
                    sender: SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR
                    recipient: SM2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQVX8X0G
                    amount: "2"
                - event_index: 5
                  event_type: non_fungible_token_asset
                  asset:
                    asset_event_type: transfer
                    asset_id: STJTXEJPJPPVDNA9B052NSRRBGQCFNKVS178VGH1.hello_world::hello-nft
                    sender: SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR
                    recipient: SM2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQVX8X0G
                    value:
                      hex: 0x0100000000000000000000000000000001
                      repr: "1"
              schema:
                $ref: '#/components/schemas/SmartContractTransaction'
          description: Contract found
        "404":
          description: Cannot find contract of given ID
      summary: Get contract info
      tags:
      - Smart Contracts
  /extended/v1/contract/by_trait:
    get:
      description: "Retrieves a list of contracts based on the following traits listed\
        \ in JSON format -  functions, variables, maps, fungible tokens and non-fungible\
        \ tokens"
      operationId: get_contracts_by_trait
      parameters:
      - description: JSON abi of the trait.
        explode: true
        in: query
        name: trait_abi
        required: true
        schema:
          type: string
        style: form
      - description: max number of contracts fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: index of first contract event to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                offset: 0
                limit: 10
                result:
                - tx_id: 0xb8b822f30a063fda8f9d44a23530a562a1ed93867d5977fbb12b1c284736edbb
                  canonical: true
                  contract_id: SP2PABAF9FTAJYNFZH93XENAJ8FVY99RRM50D2JG9.btc-ft-swap
                  block_height: 23131
                  source_code: "(use-trait fungible-token 'SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.sip-010-trait-ft-standard.sip-010-trait)\
                    \ (define-constant expiry u100) (define-map swaps uint {sats:\
                    \ uint, btc-receiver: (buff 40), amount: uint, ft-receiver: (optional\
                    \ principal), ft-sender: principal, when: uint, done: uint, ft:\
                    \ principal}) (define-data-var next-id uint u0) (define-private\
                    \ (find-out (entry {scriptPubKey: (buff 128), value: (buff 8)})\
                    \ (result {pubscriptkey: (buff 40), out: (optional {scriptPubKey:\
                    \ (buff 128), value: uint})})) (if (is-eq (get scriptPubKey entry)\
                    \ (get pubscriptkey result)) (merge result {out: (some {scriptPubKey:\
                    \ (get scriptPubKey entry), value: (get uint32 (unwrap-panic (contract-call?\
                    \ 'SP2PABAF9FTAJYNFZH93XENAJ8FVY99RRM50D2JG9.clarity-bitcoin-lib-v1\
                    \ read-uint32 {txbuff: (get value entry), index: u0})))})}) result))\
                    \ (define-public (get-out-value (tx { version: (buff 4), ins:\
                    \ (list 8 {outpoint: {hash: (buff 32), index: (buff 4)}, scriptSig:\
                    \ (buff 256), sequence: (buff 4)}), outs: (list 8 {value: (buff\
                    \ 8), scriptPubKey: (buff 128)}), locktime: (buff 4)}) (pubscriptkey\
                    \ (buff 40))) (ok (fold find-out (get outs tx) {pubscriptkey:\
                    \ pubscriptkey, out: none}))) ;; create a swap between btc and\
                    \ fungible token (define-public (create-swap (sats uint) (btc-receiver\
                    \ (buff 40)) (amount uint) (ft-receiver (optional principal))\
                    \ (ft <fungible-token>)) (let ((id (var-get next-id))) (asserts!\
                    \ (map-insert swaps id {sats: sats, btc-receiver: btc-receiver,\
                    \ amount: amount, ft-receiver: ft-receiver, ft-sender: tx-sender,\
                    \ when: block-height, done: u0, ft: (contract-of ft)}) ERR_INVALID_ID)\
                    \ (var-set next-id (+ id u1)) (match (contract-call? ft transfer\
                    \ amount tx-sender (as-contract tx-sender) (some 0x636174616d6172616e2073776170))\
                    \ success (ok id) error (err (* error u1000))))) (define-public\
                    \ (set-ft-receiver (id uint)) (let ((swap (unwrap! (map-get? swaps\
                    \ id) ERR_INVALID_ID))) (if (is-none (get ft-receiver swap)) (begin\
                    \ (asserts! (map-set swaps id (merge swap {ft-receiver: (some\
                    \ tx-sender)})) ERR_NATIVE_FAILURE) (ok true)) ERR_ALREADY_DONE)))\
                    \ ;; any user can cancle the swap after the expiry period (define-public\
                    \ (cancel (id uint) (ft <fungible-token>)) (let ((swap (unwrap!\
                    \ (map-get? swaps id) ERR_INVALID_ID))) (asserts! (is-eq (contract-of\
                    \ ft) (get ft swap)) ERR_INVALID_FUNGIBLE_TOKEN) (asserts! (<\
                    \ (+ (get when swap) expiry) block-height) ERR_TOO_EARLY) (asserts!\
                    \ (is-eq (get done swap) u0) ERR_ALREADY_DONE) (asserts! (map-set\
                    \ swaps id (merge swap {done: u1})) ERR_NATIVE_FAILURE) (as-contract\
                    \ (contract-call? ft transfer (get amount swap) tx-sender (get\
                    \ ft-sender swap) (some 0x72657665727420636174616d6172616e2073776170)))))\
                    \ ;; any user can submit a tx that contains the swap (define-public\
                    \ (submit-swap (id uint) (block { version: (buff 4), parent: (buff\
                    \ 32), merkle-root: (buff 32), timestamp: (buff 4), nbits: (buff\
                    \ 4), nonce: (buff 4), height: uint }) (tx {version: (buff 4),\
                    \ ins: (list 8 {outpoint: {hash: (buff 32), index: (buff 4)},\
                    \ scriptSig: (buff 256), sequence: (buff 4)}), outs: (list 8 {value:\
                    \ (buff 8), scriptPubKey: (buff 128)}), locktime: (buff 4)}) (proof\
                    \ { tx-index: uint, hashes: (list 12 (buff 32)), tree-depth: uint\
                    \ }) (ft <fungible-token>)) (let ((swap (unwrap! (map-get? swaps\
                    \ id) ERR_INVALID_ID)) (tx-buff (contract-call? 'SP2PABAF9FTAJYNFZH93XENAJ8FVY99RRM50D2JG9.clarity-bitcoin-lib-v1\
                    \ concat-tx tx))) (match (contract-call? 'SP2PABAF9FTAJYNFZH93XENAJ8FVY99RRM50D2JG9.clarity-bitcoin-lib-v1\
                    \ was-tx-mined block tx-buff proof) result (begin (asserts! result\
                    \ ERR_VERIFICATION_FAILED) (asserts! (is-eq (get done swap) u0)\
                    \ ERR_ALREADY_DONE) (match (get out (unwrap! (get-out-value tx\
                    \ (get btc-receiver swap)) ERR_NATIVE_FAILURE)) out (if (>= (get\
                    \ value out) (get sats swap)) (begin (asserts! (is-eq (contract-of\
                    \ ft) (get ft swap)) ERR_INVALID_FUNGIBLE_TOKEN) (asserts! (map-set\
                    \ swaps id (merge swap {done: u1})) ERR_NATIVE_FAILURE) (as-contract\
                    \ (contract-call? ft transfer (get amount swap) tx-sender (unwrap!\
                    \ (get ft-receiver swap) ERR_NO_FT_RECEIVER) (some 0x636174616d6172616e2073776170))))\
                    \ ERR_TX_VALUE_TOO_SMALL) ERR_TX_NOT_FOR_RECEIVER)) error (err\
                    \ (* error u1000))))) (define-constant ERR_VERIFICATION_FAILED\
                    \ (err u1)) (define-constant ERR_FAILED_TO_PARSE_TX (err u2))\
                    \ (define-constant ERR_INVALID_ID (err u3)) (define-constant ERR_TOO_EARLY\
                    \ (err u4)) (define-constant ERR_TX_VALUE_TOO_SMALL (err u5))\
                    \ (define-constant ERR_TX_NOT_FOR_RECEIVER (err u6)) (define-constant\
                    \ ERR_ALREADY_DONE (err u7)) (define-constant ERR_INVALID_FUNGIBLE_TOKEN\
                    \ (err u8)) (define-constant ERR_NO_FT_RECEIVER (err u9)) (define-constant\
                    \ ERR_NATIVE_FAILURE (err u99)) "
                  abi: "{\"maps\":[{\"key\":\"uint128\",\"name\":\"swaps\",\"value\"\
                    :{\"tuple\":[{\"name\":\"amount\",\"type\":\"uint128\"},{\"name\"\
                    :\"btc-receiver\",\"type\":{\"buffer\":{\"length\":40}}},{\"name\"\
                    :\"done\",\"type\":\"uint128\"},{\"name\":\"ft\",\"type\":\"principal\"\
                    },{\"name\":\"ft-receiver\",\"type\":{\"optional\":\"principal\"\
                    }},{\"name\":\"ft-sender\",\"type\":\"principal\"},{\"name\":\"\
                    sats\",\"type\":\"uint128\"},{\"name\":\"when\",\"type\":\"uint128\"\
                    }]}}],\"functions\":[{\"args\":[{\"name\":\"entry\",\"type\":{\"\
                    tuple\":[{\"name\":\"scriptPubKey\",\"type\":{\"buffer\":{\"length\"\
                    :128}}},{\"name\":\"value\",\"type\":{\"buffer\":{\"length\":8}}}]}},{\"\
                    name\":\"result\",\"type\":{\"tuple\":[{\"name\":\"out\",\"type\"\
                    :{\"optional\":{\"tuple\":[{\"name\":\"scriptPubKey\",\"type\"\
                    :{\"buffer\":{\"length\":128}}},{\"name\":\"value\",\"type\":\"\
                    uint128\"}]}}},{\"name\":\"pubscriptkey\",\"type\":{\"buffer\"\
                    :{\"length\":40}}}]}}],\"name\":\"find-out\",\"access\":\"private\"\
                    ,\"outputs\":{\"type\":{\"tuple\":[{\"name\":\"out\",\"type\"\
                    :{\"optional\":{\"tuple\":[{\"name\":\"scriptPubKey\",\"type\"\
                    :{\"buffer\":{\"length\":128}}},{\"name\":\"value\",\"type\":\"\
                    uint128\"}]}}},{\"name\":\"pubscriptkey\",\"type\":{\"buffer\"\
                    :{\"length\":40}}}]}}},{\"args\":[{\"name\":\"id\",\"type\":\"\
                    uint128\"},{\"name\":\"ft\",\"type\":\"trait_reference\"}],\"\
                    name\":\"cancel\",\"access\":\"public\",\"outputs\":{\"type\"\
                    :{\"response\":{\"ok\":\"bool\",\"error\":\"uint128\"}}}},{\"\
                    args\":[{\"name\":\"sats\",\"type\":\"uint128\"},{\"name\":\"\
                    btc-receiver\",\"type\":{\"buffer\":{\"length\":40}}},{\"name\"\
                    :\"amount\",\"type\":\"uint128\"},{\"name\":\"ft-receiver\",\"\
                    type\":{\"optional\":\"principal\"}},{\"name\":\"ft\",\"type\"\
                    :\"trait_reference\"}],\"name\":\"create-swap\",\"access\":\"\
                    public\",\"outputs\":{\"type\":{\"response\":{\"ok\":\"uint128\"\
                    ,\"error\":\"uint128\"}}}},{\"args\":[{\"name\":\"tx\",\"type\"\
                    :{\"tuple\":[{\"name\":\"ins\",\"type\":{\"list\":{\"type\":{\"\
                    tuple\":[{\"name\":\"outpoint\",\"type\":{\"tuple\":[{\"name\"\
                    :\"hash\",\"type\":{\"buffer\":{\"length\":32}}},{\"name\":\"\
                    index\",\"type\":{\"buffer\":{\"length\":4}}}]}},{\"name\":\"\
                    scriptSig\",\"type\":{\"buffer\":{\"length\":256}}},{\"name\"\
                    :\"sequence\",\"type\":{\"buffer\":{\"length\":4}}}]},\"length\"\
                    :8}}},{\"name\":\"locktime\",\"type\":{\"buffer\":{\"length\"\
                    :4}}},{\"name\":\"outs\",\"type\":{\"list\":{\"type\":{\"tuple\"\
                    :[{\"name\":\"scriptPubKey\",\"type\":{\"buffer\":{\"length\"\
                    :128}}},{\"name\":\"value\",\"type\":{\"buffer\":{\"length\":8}}}]},\"\
                    length\":8}}},{\"name\":\"version\",\"type\":{\"buffer\":{\"length\"\
                    :4}}}]}},{\"name\":\"pubscriptkey\",\"type\":{\"buffer\":{\"length\"\
                    :40}}}],\"name\":\"get-out-value\",\"access\":\"public\",\"outputs\"\
                    :{\"type\":{\"response\":{\"ok\":{\"tuple\":[{\"name\":\"out\"\
                    ,\"type\":{\"optional\":{\"tuple\":[{\"name\":\"scriptPubKey\"\
                    ,\"type\":{\"buffer\":{\"length\":128}}},{\"name\":\"value\",\"\
                    type\":\"uint128\"}]}}},{\"name\":\"pubscriptkey\",\"type\":{\"\
                    buffer\":{\"length\":40}}}]},\"error\":\"none\"}}}},{\"args\"\
                    :[{\"name\":\"id\",\"type\":\"uint128\"}],\"name\":\"set-ft-receiver\"\
                    ,\"access\":\"public\",\"outputs\":{\"type\":{\"response\":{\"\
                    ok\":\"bool\",\"error\":\"uint128\"}}}},{\"args\":[{\"name\":\"\
                    id\",\"type\":\"uint128\"},{\"name\":\"block\",\"type\":{\"tuple\"\
                    :[{\"name\":\"height\",\"type\":\"uint128\"},{\"name\":\"merkle-root\"\
                    ,\"type\":{\"buffer\":{\"length\":32}}},{\"name\":\"nbits\",\"\
                    type\":{\"buffer\":{\"length\":4}}},{\"name\":\"nonce\",\"type\"\
                    :{\"buffer\":{\"length\":4}}},{\"name\":\"parent\",\"type\":{\"\
                    buffer\":{\"length\":32}}},{\"name\":\"timestamp\",\"type\":{\"\
                    buffer\":{\"length\":4}}},{\"name\":\"version\",\"type\":{\"buffer\"\
                    :{\"length\":4}}}]}},{\"name\":\"tx\",\"type\":{\"tuple\":[{\"\
                    name\":\"ins\",\"type\":{\"list\":{\"type\":{\"tuple\":[{\"name\"\
                    :\"outpoint\",\"type\":{\"tuple\":[{\"name\":\"hash\",\"type\"\
                    :{\"buffer\":{\"length\":32}}},{\"name\":\"index\",\"type\":{\"\
                    buffer\":{\"length\":4}}}]}},{\"name\":\"scriptSig\",\"type\"\
                    :{\"buffer\":{\"length\":256}}},{\"name\":\"sequence\",\"type\"\
                    :{\"buffer\":{\"length\":4}}}]},\"length\":8}}},{\"name\":\"locktime\"\
                    ,\"type\":{\"buffer\":{\"length\":4}}},{\"name\":\"outs\",\"type\"\
                    :{\"list\":{\"type\":{\"tuple\":[{\"name\":\"scriptPubKey\",\"\
                    type\":{\"buffer\":{\"length\":128}}},{\"name\":\"value\",\"type\"\
                    :{\"buffer\":{\"length\":8}}}]},\"length\":8}}},{\"name\":\"version\"\
                    ,\"type\":{\"buffer\":{\"length\":4}}}]}},{\"name\":\"proof\"\
                    ,\"type\":{\"tuple\":[{\"name\":\"hashes\",\"type\":{\"list\"\
                    :{\"type\":{\"buffer\":{\"length\":32}},\"length\":12}}},{\"name\"\
                    :\"tree-depth\",\"type\":\"uint128\"},{\"name\":\"tx-index\",\"\
                    type\":\"uint128\"}]}},{\"name\":\"ft\",\"type\":\"trait_reference\"\
                    }],\"name\":\"submit-swap\",\"access\":\"public\",\"outputs\"\
                    :{\"type\":{\"response\":{\"ok\":\"bool\",\"error\":\"uint128\"\
                    }}}}],\"variables\":[{\"name\":\"ERR_ALREADY_DONE\",\"type\":{\"\
                    response\":{\"ok\":\"none\",\"error\":\"uint128\"}},\"access\"\
                    :\"constant\"},{\"name\":\"ERR_FAILED_TO_PARSE_TX\",\"type\":{\"\
                    response\":{\"ok\":\"none\",\"error\":\"uint128\"}},\"access\"\
                    :\"constant\"},{\"name\":\"ERR_INVALID_FUNGIBLE_TOKEN\",\"type\"\
                    :{\"response\":{\"ok\":\"none\",\"error\":\"uint128\"}},\"access\"\
                    :\"constant\"},{\"name\":\"ERR_INVALID_ID\",\"type\":{\"response\"\
                    :{\"ok\":\"none\",\"error\":\"uint128\"}},\"access\":\"constant\"\
                    },{\"name\":\"ERR_NATIVE_FAILURE\",\"type\":{\"response\":{\"\
                    ok\":\"none\",\"error\":\"uint128\"}},\"access\":\"constant\"\
                    },{\"name\":\"ERR_NO_FT_RECEIVER\",\"type\":{\"response\":{\"\
                    ok\":\"none\",\"error\":\"uint128\"}},\"access\":\"constant\"\
                    },{\"name\":\"ERR_TOO_EARLY\",\"type\":{\"response\":{\"ok\":\"\
                    none\",\"error\":\"uint128\"}},\"access\":\"constant\"},{\"name\"\
                    :\"ERR_TX_NOT_FOR_RECEIVER\",\"type\":{\"response\":{\"ok\":\"\
                    none\",\"error\":\"uint128\"}},\"access\":\"constant\"},{\"name\"\
                    :\"ERR_TX_VALUE_TOO_SMALL\",\"type\":{\"response\":{\"ok\":\"\
                    none\",\"error\":\"uint128\"}},\"access\":\"constant\"},{\"name\"\
                    :\"ERR_VERIFICATION_FAILED\",\"type\":{\"response\":{\"ok\":\"\
                    none\",\"error\":\"uint128\"}},\"access\":\"constant\"},{\"name\"\
                    :\"expiry\",\"type\":\"uint128\",\"access\":\"constant\"},{\"\
                    name\":\"next-id\",\"type\":\"uint128\",\"access\":\"variable\"\
                    }],\"fungible_tokens\":[],\"non_fungible_tokens\":[]}"
              schema:
                $ref: '#/components/schemas/ContractListResponse'
          description: List of contracts implement given trait
      summary: Get contracts by trait
      tags:
      - Smart Contracts
  /extended/v1/contract/{contract_id}/events:
    get:
      description: Retrieves a list of events that have been triggered by a given
        `contract_id`
      operationId: get_contract_events_by_id
      parameters:
      - description: Contract identifier formatted as `<contract_address>.<contract_name>`
        explode: false
        in: path
        name: contract_id
        required: true
        schema:
          type: string
        style: simple
      - description: max number of contract events to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: index of first contract event to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                results:
                - event_index: 1
                  event_type: smart_contract_log
                  contract_log:
                    contract_id: ST2P7B9G6Y55QWZJ9B93DVSEG5S6Z4PFJHB3XRKHW.hello_world
                    topic: print
                    value:
                      hex: 0x02000000124576656e74212048656c6c6f20776f726c64
                      repr: '"Event! Hello world"'
              schema:
                $ref: '#/components/schemas/TransactionEvent'
          description: List of events
      summary: Get contract events
      tags:
      - Smart Contracts
  /v2/contracts/interface/{contract_address}/{contract_name}:
    get:
      description: Retrieves a contract interface with a given `contract_address`
        and `contract name`
      operationId: get_contract_interface
      parameters:
      - description: Stacks address
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: Contract name
        explode: false
        in: path
        name: contract_name
        required: true
        schema:
          type: string
        style: simple
      - description: The Stacks chain tip to query from
        explode: true
        in: query
        name: tip
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                functions:
                - name: get-value
                  access: public
                  args:
                  - name: key
                    type:
                      buffer:
                        length: 32
                  outputs:
                    type:
                      response:
                        ok:
                          buffer:
                            length: 32
                        error: int128
                - name: set-value
                  access: public
                  args:
                  - name: key
                    type:
                      buffer:
                        length: 32
                  - name: value
                    type:
                      buffer:
                        length: 32
                  outputs:
                    type:
                      response:
                        ok: uint128
                        error: none
                - name: test-emit-event
                  access: public
                  args: []
                  outputs:
                    type:
                      response:
                        ok: uint128
                        error: none
                - name: test-event-types
                  access: public
                  args: []
                  outputs:
                    type:
                      response:
                        ok: uint128
                        error: none
                variables:
                - name: recipient
                  type: principal
                  access: constant
                - name: sender
                  type: principal
                  access: constant
                maps:
                - name: store
                  key:
                  - name: key
                    type:
                      buffer:
                        length: 32
                  value:
                  - name: value
                    type:
                      buffer:
                        length: 32
                fungible_tokens:
                - name: novel-token-19
                non_fungible_tokens:
                - name: hello-nft
                  type: uint128
              schema:
                $ref: '#/components/schemas/ContractInterfaceResponse'
          description: Contract interface
      summary: Get contract interface
      tags:
      - Smart Contracts
  /v2/map_entry/{contract_address}/{contract_name}/{map_name}:
    post:
      description: "Attempt to fetch data from a contract data map. The contract is\
        \ identified with Stacks Address `contract_address` and Contract Name `contract_address`\
        \ in the URL path. The map is identified with [Map Name].\n\nThe key to lookup\
        \ in the map is supplied via the POST body. This should be supplied as the\
        \ hex string serialization of the key (which should be a Clarity value). Note,\
        \ this is a JSON string atom.\n\nIn the response, `data` is the hex serialization\
        \ of the map response. Note that map responses are Clarity option types, for\
        \ non-existent values, this is a serialized none, and for all other responses,\
        \ it is a serialized (some ...) object.\n"
      operationId: get_contract_data_map_entry
      parameters:
      - description: Stacks address
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: Contract name
        explode: false
        in: path
        name: contract_name
        required: true
        schema:
          type: string
        style: simple
      - description: Map name
        explode: false
        in: path
        name: map_name
        required: true
        schema:
          type: string
        style: simple
      - description: Returns object without the proof field when set to 0
        explode: true
        in: query
        name: proof
        required: false
        schema:
          type: integer
        style: form
      - description: The Stacks chain tip to query from
        explode: true
        in: query
        name: tip
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: Hex string serialization of the lookup key (which should be a
          Clarity value)
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data: 0x0a0c000000010a6d6f6e737465722d69640100000000000000000000000000000001
                proof: 0x123...
              schema:
                $ref: '#/components/schemas/MapEntryResponse'
          description: Success
        "400":
          description: Failed loading data map
      summary: Get specific data-map inside a contract
      tags:
      - Smart Contracts
      x-codegen-request-body-name: key
  /v2/contracts/source/{contract_address}/{contract_name}:
    get:
      description: "Retrieves the Clarity source code of a given contract, along with\
        \ the block height it was published in, and the MARF proof for the data"
      operationId: get_contract_source
      parameters:
      - description: Stacks address
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: Contract name
        explode: false
        in: path
        name: contract_name
        required: true
        schema:
          type: string
        style: simple
      - description: Returns object without the proof field if set to 0
        explode: true
        in: query
        name: proof
        required: false
        schema:
          type: integer
        style: form
      - description: The Stacks chain tip to query from
        explode: true
        in: query
        name: tip
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                source: |-
                  (define-constant sender 'SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR)
                  (define-constant recipient 'SM2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQVX8X0G)

                  (define-fungible-token novel-token-19)
                  (begin (ft-mint? novel-token-19 u12 sender))
                  (begin (ft-transfer? novel-token-19 u2 sender recipient))

                  (define-non-fungible-token hello-nft uint)
                  (begin (nft-mint? hello-nft u1 sender))
                  (begin (nft-mint? hello-nft u2 sender))
                  (begin (nft-transfer? hello-nft u1 sender recipient))

                  (define-public (test-emit-event)
                      (begin
                          (print "Event! Hello world")
                          (ok u1)))
                  (begin (test-emit-event))

                  (define-public (test-event-types)
                      (begin
                          (unwrap-panic (ft-mint? novel-token-19 u3 recipient))
                          (unwrap-panic (nft-mint? hello-nft u2 recipient))
                          (unwrap-panic (stx-transfer? u60 tx-sender 'SZ2J6ZY48GV1EZ5V2V5RB9MP66SW86PYKKQ9H6DPR))
                          (unwrap-panic (stx-burn? u20 tx-sender))
                          (ok u1)))

                  (define-map store ((key (buff 32))) ((value (buff 32))))
                  (define-public (get-value (key (buff 32)))
                      (begin
                          (match (map-get? store ((key key)))
                              entry (ok (get value entry))
                              (err 0))))
                  (define-public (set-value (key (buff 32)) (value (buff 32)))
                      (begin
                          (map-set store ((key key)) ((value value)))
                          (ok u1)))
                publish_height: 3196
                proof: 0000001104060000001ec4e...
              schema:
                $ref: '#/components/schemas/ContractSourceResponse'
          description: Success
      summary: Get contract source
      tags:
      - Smart Contracts
  /v2/contracts/call-read/{contract_address}/{contract_name}/{function_name}:
    post:
      description: |
        Call a read-only public function on a given smart contract.

        The smart contract and function are specified using the URL path. The arguments and the simulated tx-sender are supplied via the POST body in the following JSON format:
      operationId: call_read_only_function
      parameters:
      - description: Stacks address
        explode: false
        in: path
        name: contract_address
        required: true
        schema:
          type: string
        style: simple
      - description: Contract name
        explode: false
        in: path
        name: contract_name
        required: true
        schema:
          type: string
        style: simple
      - description: Function name
        explode: false
        in: path
        name: function_name
        required: true
        schema:
          type: string
        style: simple
      - description: The Stacks chain tip to query from
        explode: true
        in: query
        name: tip
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadOnlyFunctionArgs'
        description: "map of arguments and the simulated tx-sender where sender is\
          \ either a Contract identifier or a normal Stacks address, and arguments\
          \ is an array of hex serialized Clarity values."
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success:
                  value:
                    okay: true
                    result: 0x111...
                fail:
                  value:
                    okay: false
                    cause: Unchecked(PublicFunctionNotReadOnly(...
              schema:
                $ref: '#/components/schemas/ReadOnlyFunctionSuccessResponse'
          description: Success
      summary: Call read-only function
      tags:
      - Smart Contracts
  /extended/v1/address/{principal}/balances:
    get:
      description: "Retrieves total account balance information for a given Address\
        \ or Contract Identifier. This includes the balances of  STX Tokens, Fungible\
        \ Tokens and Non-Fungible Tokens for the account."
      operationId: get_account_balance
      parameters:
      - description: Stacks address or a Contract identifier (e.g. `SP31DA6FTSJX2WGTZ69SFY11BH51NZMB0ZW97B5P0.get-info`)
        explode: false
        in: path
        name: principal
        required: true
        schema:
          type: string
        style: simple
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "returned data representing the state up until that point in\
          \ time, rather than the current block."
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                stx:
                  balance: "1000000"
                  total_sent: "0"
                  total_received: "1000000"
                  lock_tx_id: 0xec94e7d20af8979b44d17a0520c126bf742b999a0fc7ddbcbe0ab21b228ecc8c
                  locked: "50000"
                  lock_height: 100
                  burnchain_lock_height: 100
                  burnchain_unlock_height: 200
                fungible_tokens: {}
                non_fungible_tokens: {}
              schema:
                $ref: '#/components/schemas/AddressBalanceResponse'
          description: Success
      summary: Get account balances
      tags:
      - Accounts
  /extended/v1/address/{principal}/stx:
    get:
      description: Retrieves STX token balance for a given Address or Contract Identifier.
      operationId: get_account_stx_balance
      parameters:
      - description: Stacks address or a Contract identifier (e.g. `SP31DA6FTSJX2WGTZ69SFY11BH51NZMB0ZW97B5P0.get-info`)
        explode: false
        in: path
        name: principal
        required: true
        schema:
          type: string
        style: simple
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "returned data representing the state up until that point in\
          \ time, rather than the current block."
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                balance: "1000000"
                total_sent: "0"
                total_received: "1000000"
                lock_tx_id: 0xec94e7d20af8979b44d17a0520c126bf742b999a0fc7ddbcbe0ab21b228ecc8c
                locked: "50000"
                lock_height: 100
                burnchain_lock_height: 100
                burnchain_unlock_height: 200
              schema:
                $ref: '#/components/schemas/AddressStxBalanceResponse'
          description: Success
      summary: Get account STX balance
      tags:
      - Accounts
  /extended/v1/address/{principal}/transactions:
    get:
      description: "Retrieves a list of all Transactions for a given Address or Contract\
        \ Identifier. More information on Transaction types can be found [here](https://docs.stacks.co/understand-stacks/transactions#types).\n\
        \nIf you need to actively monitor new transactions for an address or contract\
        \ id, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client)\
        \ for real-time updates.\n"
      operationId: get_account_transactions
      parameters:
      - description: Stacks address or a Contract identifier (e.g. `SP31DA6FTSJX2WGTZ69SFY11BH51NZMB0ZW97B5P0.get-info`)
        explode: false
        in: path
        name: principal
        required: true
        schema:
          type: string
        style: simple
      - description: max number of account transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: index of first account transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Filter for transactions only at this given block height
        explode: true
        in: query
        name: height
        required: false
        schema:
          type: number
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "returned data representing the state up until that point in\
          \ time, rather than the current block."
        explode: true
        in: query
        name: until_block
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                total: 4989
                results:
                - tx_id: 0xb16077b94222bc1466396d30df13db460864e85ce929a20aae0a2ac80b31e4e2
                  tx_status: success
                  tx_type: coinbase
                  fee_rate: "0"
                  sender_address: ST2TJRHDHMYBQ417HFB0BDX430TQA5PXRX6495G1V
                  sponsored: false
                  post_condition_mode: deny
                  block_hash: 0x83f84f814c1b00ddb672d93b97d06c8326f76746d90a979c12b69e54beb73f69
                  block_height: 5603
                  burn_block_time: 1594335838
                  canonical: true
                  is_unanchored: false
                  microblock_hash: 0x590a1bb1d7bcbeafce0a9fc8f8a69e369486192d14687fe95fbe4dc1c71d49df
                  microblock_sequence: 5
                  microblock_canonical: true
                  tx_index: 0
                  coinbase_payload:
                    data: 0x0000000000000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/AddressTransactionsListResponse'
          description: Success
      summary: Get account transactions
      tags:
      - Accounts
  /extended/v1/address/{principal}/{tx_id}/with_transfers:
    get:
      description: "Retrieves transaction details for a given Transcation Id `tx_id`,\
        \ for a given account or contract Identifier."
      operationId: get_single_transaction_with_transfers
      parameters:
      - description: Stacks address or a contract identifier
        explode: false
        in: path
        name: principal
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction id
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
[...]
