/*
Stacks Blockchain API

Welcome to the API reference overview for the <a href=\"https://docs.hiro.so/get-started/stacks-blockchain-api\">Stacks Blockchain API</a>.  <a href=\"https://hirosystems.github.io/stacks-blockchain-api/collection.json\" download=\"stacks-api-collection.json\">Download Postman collection</a> 

API version: v4.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// FaucetsApiService FaucetsApi service
type FaucetsApiService service

type ApiRunFaucetBTCRequest struct {
	ctx context.Context
	ApiService *FaucetsApiService
	address *string
	runFaucetBTCRequest *RunFaucetBTCRequest
}

// A valid testnet BTC address
func (r ApiRunFaucetBTCRequest) Address(address string) ApiRunFaucetBTCRequest {
	r.address = &address
	return r
}

func (r ApiRunFaucetBTCRequest) RunFaucetBTCRequest(runFaucetBTCRequest RunFaucetBTCRequest) ApiRunFaucetBTCRequest {
	r.runFaucetBTCRequest = &runFaucetBTCRequest
	return r
}

func (r ApiRunFaucetBTCRequest) Execute() (*RunFaucetResponse, *http.Response, error) {
	return r.ApiService.RunFaucetBTCExecute(r)
}

/*
RunFaucetBTC Add testnet BTC tokens to address

Add 1 BTC token to the specified testnet BTC address.

The endpoint returns the transaction ID, which you can use to view the transaction in a testnet Bitcoin block
explorer. The tokens are delivered once the transaction has been included in a block.

**Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRunFaucetBTCRequest
*/
func (a *FaucetsApiService) RunFaucetBTC(ctx context.Context) ApiRunFaucetBTCRequest {
	return ApiRunFaucetBTCRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RunFaucetResponse
func (a *FaucetsApiService) RunFaucetBTCExecute(r ApiRunFaucetBTCRequest) (*RunFaucetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RunFaucetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaucetsApiService.RunFaucetBTC")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/extended/v1/faucets/BTC"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.address == nil {
		return localVarReturnValue, nil, reportError("address is required and must be specified")
	}

	localVarQueryParams.Add("address", parameterToString(*r.address, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runFaucetBTCRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRunFaucetSTXRequest struct {
	ctx context.Context
	ApiService *FaucetsApiService
	address *string
	stacking *bool
	runFaucetSTXRequest *RunFaucetSTXRequest
}

// A valid testnet STX address
func (r ApiRunFaucetSTXRequest) Address(address string) ApiRunFaucetSTXRequest {
	r.address = &address
	return r
}

// Request the amount of STX tokens needed for individual address stacking
func (r ApiRunFaucetSTXRequest) Stacking(stacking bool) ApiRunFaucetSTXRequest {
	r.stacking = &stacking
	return r
}

func (r ApiRunFaucetSTXRequest) RunFaucetSTXRequest(runFaucetSTXRequest RunFaucetSTXRequest) ApiRunFaucetSTXRequest {
	r.runFaucetSTXRequest = &runFaucetSTXRequest
	return r
}

func (r ApiRunFaucetSTXRequest) Execute() (*RunFaucetResponse, *http.Response, error) {
	return r.ApiService.RunFaucetSTXExecute(r)
}

/*
RunFaucetSTX Get STX testnet tokens

Add 500 STX tokens to the specified testnet address. Testnet STX addresses begin with `ST`. If the `stacking`
parameter is set to `true`, the faucet will add the required number of tokens for individual stacking to the
specified testnet address.

The endpoint returns the transaction ID, which you can use to view the transaction in the
[Stacks Explorer](https://explorer.stacks.co/?chain=testnet). The tokens are delivered once the transaction has
been included in an anchor block.

A common reason for failed faucet transactions is that the faucet has run out of tokens. If you are experiencing
failed faucet transactions to a testnet address, you can get help in [Discord](https://stacks.chat).

**Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRunFaucetSTXRequest
*/
func (a *FaucetsApiService) RunFaucetSTX(ctx context.Context) ApiRunFaucetSTXRequest {
	return ApiRunFaucetSTXRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RunFaucetResponse
func (a *FaucetsApiService) RunFaucetSTXExecute(r ApiRunFaucetSTXRequest) (*RunFaucetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RunFaucetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FaucetsApiService.RunFaucetSTX")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/extended/v1/faucets/STX"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.address == nil {
		return localVarReturnValue, nil, reportError("address is required and must be specified")
	}

	localVarQueryParams.Add("address", parameterToString(*r.address, ""))
	if r.stacking != nil {
		localVarQueryParams.Add("stacking", parameterToString(*r.stacking, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.runFaucetSTXRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
